In [394]:
from sqlalchemy import create_engine
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [395]:
engine = create_engine("sqlite:///data/mta_turnstile.db")

In [396]:
all_tables = engine.table_names()
#all_tables

<ipython-input-396-454fd37e24c5>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  all_tables = engine.table_names()

In [397]:
mtadf = pd.read_sql('SELECT * FROM turnstile_2019_0105;',engine)
mtadf.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/29/2018,03:00:00,REGULAR,6889287,2335920
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/29/2018,07:00:00,REGULAR,6889299,2335936
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/29/2018,11:00:00,REGULAR,6889364,2336038
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/29/2018,15:00:00,REGULAR,6889605,2336101
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/29/2018,19:00:00,REGULAR,6889966,2336173

In [398]:
print('DTYPES:\n',mtadf.dtypes,'\n')
print(mtadf.columns)

DTYPES:
 C/A                                                                     object
UNIT                                                                    object
SCP                                                                     object
STATION                                                                 object
LINENAME                                                                object
DIVISION                                                                object
DATE                                                                    object
TIME                                                                    object
DESC                                                                    object
ENTRIES                                                                  int64
EXITS                                                                    int64
dtype: object

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [399]:
# fix the insane amount of space after 'EXITS'
mtadf.rename(str.strip, axis='columns',inplace=True)
mtadf.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [400]:
# change DATE and TIME to datetime objects
mtadf['DATE']=pd.to_datetime(mtadf['DATE'])
mtadf['TIME']=pd.to_datetime(mtadf['TIME'],format='%H:%M:%S')

In [401]:
# create column for HOUR and MINUTE
mtadf['HOUR']=mtadf['TIME'].dt.hour
mtadf['MIN']=mtadf['TIME'].dt.minute

# drop the TIME column
mtadf.drop(columns='TIME',axis=1,inplace=True)

In [402]:
# create unique identifyer for each turnstile then drop original columns
mtadf['TURNSTILE'] = mtadf['C/A'] + '-' + mtadf['UNIT'] + '-' + mtadf['SCP']
mtadf.drop(['C/A','UNIT','SCP'],axis=1,inplace=True)

# rearrange order of columns
col_names = ['STATION','TURNSTILE','DATE','HOUR','MIN','ENTRIES','EXITS','LINENAME','DIVISION','DESC']
mtadf = mtadf.reindex(columns=col_names)

In [403]:
# check for null values in dataset -- no null values
mtadf.isna().sum()

STATION      0
TURNSTILE    0
DATE         0
HOUR         0
MIN          0
ENTRIES      0
EXITS        0
LINENAME     0
DIVISION     0
DESC         0
dtype: int64

In [404]:
# sort the database by station, then turnstile, then date, then time
mtadfs = mtadf.sort_values(['STATION','TURNSTILE','DATE','HOUR','MIN'])

# which 10 stations have the least amount of turnstiles?
mtadfs.groupby(['STATION'])['TURNSTILE'].nunique().nsmallest(10)

# create a database with 5 stations
mtadfs_leastt = mtadfs[mtadfs['STATION'].isin(['138/GRAND CONC','182-183 STS','190 ST'])
                       &mtadfs['DATE'].isin(['2019-01-04'])]


# check max amount of entries per station
# CLEVELAND ST and SUTTER AV have significantly less entries
# remove them from above .isin() statement
mtadfs_leastt.groupby(['STATION'])['ENTRIES'].max()

# we now have a database with information 
# for 3 STATIONS (138/GRAND CONC, 182-183 STS, 190 ST)
# on 1 DAY (Jan 4, 2019)
# 9 TURNSTILES total
mtadfs_leastt['TURNSTILE'].unique()

array(['R259-R307-00-00-00', 'R259-R307-00-00-01', 'R259-R307-00-00-02',
       'N215-R237-00-00-00', 'N215-R237-00-00-01', 'N215-R237-00-00-02',
       'N006A-R280-00-00-00', 'N006A-R280-00-00-01',
       'N006A-R280-00-00-02'], dtype=object)

In [405]:
# 3 turnstiles per STATION
mtadfs_leastt.groupby(['STATION'])[['TURNSTILE']].describe().reset_index()

# 6 entries per TURNSTILE
mtadfs_leastt['TURNSTILE'].sort_values().value_counts().reset_index()

                 index  TURNSTILE
0  N006A-R280-00-00-02          6
1  N006A-R280-00-00-00          6
2   N215-R237-00-00-02          6
3   N215-R237-00-00-00          6
4   R259-R307-00-00-00          6
5   R259-R307-00-00-02          6
6   R259-R307-00-00-01          6
7   N215-R237-00-00-01          6
8  N006A-R280-00-00-01          6

In [412]:
# create a database without the unnecessary columns
mtadfs_leastt_ee=mtadfs_leastt[['STATION',
                                'TURNSTILE',
                                'HOUR',
                                'MIN',
                                'ENTRIES',
                                'EXITS']].reset_index()
mtadfs_leastt_ee.drop('index',axis=1,inplace=True)

In [413]:
# calculate the sum of the entries and exits per time period
mtadfs_leastt_ee['SUM_ENTRIES'] = mtadfs_leastt_ee.groupby(['TURNSTILE'])['ENTRIES'].diff()
mtadfs_leastt_ee['SUM_EXITS'] = mtadfs_leastt_ee.groupby(['TURNSTILE'])['EXITS'].diff()

# shift the column data up by 1 row, drop the previous column
mtadfs_leastt_ee['ENTRIES_SUM'] = mtadfs_leastt_ee['SUM_ENTRIES'].shift(periods=-1, axis=0)
mtadfs_leastt_ee['EXITS_SUM'] = mtadfs_leastt_ee['SUM_EXITS'].shift(periods=-1, axis=0)
mtadfs_leastt_ee.drop('SUM_ENTRIES',axis=1,inplace=True)
mtadfs_leastt_ee.drop('SUM_EXITS',axis=1,inplace=True)

In [414]:
mtadfs_leastt_ee['BUSY'] = mtadfs_leastt_ee['EXITS_SUM'] + mtadfs_leastt_ee['ENTRIES_SUM']

In [415]:
mtadfs_leastt_ee

,STATION,TURNSTILE,HOUR,MIN,ENTRIES,EXITS,ENTRIES_SUM,EXITS_SUM,BUSY
0,138/GRAND CONC,R259-R307-00-00-00,3,0,3599462,3348054,166.0,128.0,294.0
1,138/GRAND CONC,R259-R307-00-00-00,7,0,3599628,3348182,345.0,355.0,700.0
2,138/GRAND CONC,R259-R307-00-00-00,11,0,3599973,3348537,307.0,210.0,517.0
3,138/GRAND CONC,R259-R307-00-00-00,15,0,3600280,3348747,389.0,375.0,764.0
4,138/GRAND CONC,R259-R307-00-00-00,19,0,3600669,3349122,180.0,167.0,347.0
5,138/GRAND CONC,R259-R307-00-00-00,23,0,3600849,3349289,NaN,NaN,NaN
6,138/GRAND CONC,R259-R307-00-00-01,3,0,4257977,3755167,122.0,82.0,204.0
7,138/GRAND CONC,R259-R307-00-00-01,7,0,4258099,3755249,216.0,188.0,404.0
8,138/GRAND CONC,R259-R307-00-00-01,11,0,4258315,3755437,141.0,158.0,299.0
9,138/GRAND CONC,R259-R307-00-00-01,15,0,4258456,3755595,251.0,187.0,438.0
10,138/GRAND CONC,R259-R307-00-00-01,19,0,4258707,3755782,93.0,68.0,161.0
11,138/GRAND CONC,R259-R307-00-00-01,23,0,4258800,3755850,NaN,NaN,NaN
12,138/GRAND CONC,R259-R307-00-00-02,3,0,991351153,957605897,112.0,96.0,208.0
13,138/GRAND CONC,R259-R307-00-00-02,7,0,991351265,957605993,285.0,177.0,462.0
14,138/GRAND CONC,R259-R307-00-00-02,11,0,991351550,957606170,164.0,159.0,323.0
15,138/GRAND CONC,R259-R307-00-00-02,15,0,991351714,957606329,242.0,225.0,467.0
16,138/GRAND CONC,R259-R307-00-00-02,19,0,991351956,957606554,73.0,78.0,151.0
17,138/GRAND CONC,R259-R307-00-00-02,23,0,991352029,957606632,NaN,NaN,NaN
18,182-183 STS,N215-R237-00-00-00,3,0,13512313,6289262,307.0,22.0,329.0
19,182-183 STS,N215-R237-00-00-00,7,0,13512620,6289284,636.0,117.0,753.0
20,182-183 STS,N215-R237-00-00-00,11,0,13513256,6289401,333.0,136.0,469.0
21,182-183 STS,N215-R237-00-00-00,15,0,13513589,6289537,366.0,232.0,598.0
22,182-183 STS,N215-R237-00-00-00,19,0,13513955,6289769,132.0,203.0,335.0
23,182-183 STS,N215-R237-00-00-00,23,0,13514087,6289972,NaN,NaN,NaN
24,182-183 STS,N215-R237-00-00-01,3,0,992176,379051,187.0,16.0,203.0
25,182-183 STS,N215-R237-00-00-01,7,0,992363,379067,486.0,127.0,613.0
26,182-183 STS,N215-R237-00-00-01,11,0,992849,379194,237.0,126.0,363.0
27,182-183 STS,N215-R237-00-00-01,15,0,993086,379320,294.0,207.0,501.0
28,182-183 STS,N215-R237-00-00-01,19,0,993380,379527,102.0,126.0,228.0
29,182-183 STS,N215-R237-00-00-01,23,0,993482,379653,NaN,NaN,NaN
30,182-183 STS,N215-R237-00-00-02,3,0,1476159278,1845600085,-247.0,16.0,-231.0
31,182-183 STS,N215-R237-00-00-02,7,0,1476159031,1845600101,-643.0,83.0,-560.0
32,182-183 STS,N215-R237-00-00-02,11,0,1476158388,1845600184,-299.0,120.0,-179.0
33,182-183 STS,N215-R237-00-00-02,15,0,1476158089,1845600304,-278.0,167.0,-111.0
34,182-183 STS,N215-R237-00-00-02,19,0,1476157811,1845600471,-153.0,139.0,-14.0
35,182-183 STS,N215-R237-00-00-02,23,0,1476157658,1845600610,NaN,NaN,NaN
36,190 ST,N006A-R280-00-00-00,3,0,1442503008,1845214670,-145.0,-23.0,-168.0
37,190 ST,N006A-R280-00-00-00,7,0,1442502863,1845214647,-847.0,-110.0,-957.0
38,190 ST,N006A-R280-00-00-00,11,0,1442502016,1845214537,-321.0,-175.0,-496.0
39,190 ST,N006A-R280-00-00-00,15,0,1442501695,1845214362,-353.0,-333.0,-686.0
40,190 ST,N006A-R280-00-00-00,19,0,1442501342,1845214029,-115.0,-201.0,-316.0
41,190 ST,N006A-R280-00-00-00,23,0,1442501227,1845213828,NaN,NaN,NaN
42,190 ST,N006A-R280-00-00-01,3,0,4012855,1332854,98.0,5.0,103.0
43,190 ST,N006A-R280-00-00-01,7,0,4012953,1332859,625.0,20.0,645.0
44,190 ST,N006A-R280-00-00-01,11,0,4013578,1332879,228.0,43.0,271.0
45,190 ST,N006A-R280-00-00-01,15,0,4013806,1332922,263.0,73.0,336.0
46,190 ST,N006A-R280-00-00-01,19,0,4014069,1332995,78.0,48.0,126.0
47,190 ST,N006A-R280-00-00-01,23,0,4014147,1333043,NaN,NaN,NaN
48,190 ST,N006A-R280-00-00-02,3,0,7150918,975954,100.0,4.0,104.0
49,190 ST,N006A-R280-00-00-02,7,0,7151018,975958,663.0,26.0,689.0
50,190 ST,N006A-R280-00-00-02,11,0,7151681,975984,187.0,24.0,211.0
51,190 ST,N006A-R280-00-00-02,15,0,7151868,976008,252.0,57.0,309.0
52,190 ST,N006A-R280-00-00-02,19,0,7152120,976065,49.0,22.0,71.0
53,190 ST,N006A-R280-00-00-02,23,0,7152169,976087,NaN,NaN,NaN